.support-news
    &__title
        text-align: center
    &__wrapper
        display: flex
        flex-wrap: wrap
    &__card
        margin: 12px
        background: $bg-color
        width: calc(100%/4 - 24px)
        &-img
            width: 100%
        &-hero
            padding: 12px
        &-title
            margin-bottom: 12px
            font-weight: bold
            display: block
            color: #000
        &-date
